# 练习题

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 练习1
# 将两个数据条进行合并

pan10 = pd.Series(["awdw","zadwrww111","wweeee777",np.nan,"1rrett"],index=list("abcde"))
pan11 = pd.Series(["adwdwdw","zadwrww","wweeee","np.nan","12344555"],index=list("abcde"))
pan11

a     adwdwdw
b     zadwrww
c      wweeee
d      np.nan
e    12344555
dtype: object

In [3]:
pan10.str.cat(pan11,sep=",")

a          awdw,adwdwdw
b    zadwrww111,zadwrww
c      wweeee777,wweeee
d                   NaN
e       1rrett,12344555
dtype: object

In [9]:
# 练习2
ser1 = pd.Series([np.random.randint(-6,12,(2,3)) for j in range(7)],index=["row"+str(i) for i in range(7)])
ser1

row0    [[-3, -4, -5], [-6, -5, -1]]
row1         [[6, 9, 2], [1, 3, 11]]
row2         [[1, 9, 0], [1, 8, 11]]
row3       [[11, -4, -1], [3, 1, 4]]
row4      [[7, 10, 3], [-2, -6, -1]]
row5       [[-5, 6, 1], [-4, 0, -2]]
row6       [[11, -3, 7], [-3, 4, 3]]
dtype: object

In [11]:
# 分段进行计算
ser1[0] + ser1[3]

array([[ 8, -8, -6],
       [-3, -4,  3]])

In [15]:
# 练习3
# 数据框的计算
pan1 = pd.DataFrame([[np.random.randint(3,9,(2,2)) for i in range(3)] for n in range(4)],
             index=["row"+str(r) for r in range(4)],columns=["a"+str(j) for j in range(3)])
pan1

                    a0                a1                a2
row0  [[5, 4], [4, 7]]  [[7, 7], [5, 6]]  [[8, 7], [3, 7]]
row1  [[8, 5], [4, 6]]  [[8, 6], [6, 8]]  [[8, 3], [8, 5]]
row2  [[8, 4], [4, 3]]  [[7, 6], [5, 6]]  [[8, 6], [4, 8]]
row3  [[3, 3], [3, 5]]  [[3, 3], [7, 4]]  [[8, 7], [8, 4]]

In [21]:
pan1.index[1]

'row1'

In [19]:
# 获取数据框某区的信息
pan1.loc["row0","a0"][0]

array([5, 4])

In [33]:
# 练习4
# r行c列m个空值
def simle_func(r,c,m):
    pan_test = pd.DataFrame(np.random.randint(12,100,(r,c)),index=["r"+str(i) for i in range(r)],
                           columns=["c"+str(j) for j in range(c)])
    for z in range(m):
        pan_test.loc[pan_test.index[np.random.randint(0,r,1)[0]],
                     pan_test.columns[np.random.randint(0,c,1)[0]]] = np.nan
    return pan_test

In [41]:
res = simle_func(6,5,6)
res

      c0    c1    c2    c3    c4
r0  53.0  47.0  93.0  57.0  92.0
r1  50.0  37.0  41.0  29.0  36.0
r2  74.0  45.0   NaN   NaN   NaN
r3  94.0  77.0  18.0   NaN  70.0
r4   NaN  82.0  33.0  43.0  51.0
r5  95.0   NaN  97.0  29.0  29.0

In [48]:
# 进行离散添值
res.loc["r2","c2":"c4"] = [-666,-555,-333]
res

      c0    c1     c2     c3     c4
r0  53.0  47.0   93.0   57.0   92.0
r1  50.0  37.0   41.0   29.0   36.0
r2  74.0  45.0 -666.0 -555.0 -333.0
r3  94.0  77.0   18.0    NaN   70.0
r4   NaN  82.0   33.0   43.0   51.0
r5  95.0   NaN   97.0   29.0   29.0

In [50]:
# 进行精确添值
res.loc["r4","c0"] = -999
res

       c0    c1     c2     c3     c4
r0   53.0  47.0   93.0   57.0   92.0
r1   50.0  37.0   41.0   29.0   36.0
r2   74.0  45.0 -666.0 -555.0 -333.0
r3   94.0  77.0   18.0    NaN   70.0
r4 -999.0  82.0   33.0   43.0   51.0
r5   95.0   NaN   97.0   29.0   29.0

In [53]:
# 练习5
# 进行某一行的补值
pan5 = pd.DataFrame(np.random.randint(13,69,(5,5)),index=list("abcde"),columns=list("QWERT"),dtype=float)
pan5

      Q     W     E     R     T
a  62.0  28.0  20.0  36.0  62.0
b  29.0  18.0  41.0  19.0  53.0
c  20.0  66.0  53.0  23.0  30.0
d  50.0  61.0  34.0  40.0  29.0
e  61.0  37.0  51.0  66.0  42.0

In [56]:
# 进行一行的赋值
pan5.loc["a":"a",:] = [np.random.randint(-30,-10,5)]
pan5

      Q     W     E     R     T
a -21.0 -21.0 -17.0 -16.0 -12.0
b  29.0  18.0  41.0  19.0  53.0
c  20.0  66.0  53.0  23.0  30.0
d  50.0  61.0  34.0  40.0  29.0
e  61.0  37.0  51.0  66.0  42.0

In [62]:
# 进行一列的赋值
pan5.loc[:,"T":"T"] = [np.random.randint(-30,-10,1)for i in range(5)]
pan5

      Q     W     E     R     T
a -21.0 -21.0 -17.0 -16.0 -21.0
b  29.0  18.0  41.0  19.0 -23.0
c  20.0  66.0  53.0  23.0 -12.0
d  50.0  61.0  34.0  40.0 -28.0
e  61.0  37.0  51.0  66.0 -22.0

In [68]:
# 进行分区赋值
pan5.loc["c":"e","W":"E"] = np.zeros((3,2))
pan5

      Q     W     E     R     T
a -21.0 -21.0 -17.0 -16.0 -21.0
b  29.0  18.0  41.0  19.0 -23.0
c  20.0   0.0   0.0  23.0 -12.0
d  50.0   0.0   0.0  40.0 -28.0
e  61.0   0.0   0.0  66.0 -22.0

In [76]:
# 练习6
# Series删除空值索引进行就近补值

ser2 = pd.Series(np.random.randint(12,63,10))
ser2[np.random.randint(0,10,3)] = np.nan
ser2

0     NaN
1    24.0
2     NaN
3    57.0
4    56.0
5    13.0
6    16.0
7     NaN
8    61.0
9    21.0
dtype: float64

In [88]:
# 删除空值索引
ser2.reindex(index=set(range(10))-{0,2,7})

1    24.0
3    57.0
4    56.0
5    13.0
6    16.0
8    61.0
9    21.0
dtype: float64

In [95]:
# 进行向上或向下补值
ser2.reindex(range(10),method="bfill")
ser2[0] = 20
ser2[2] = 99
ser2

0    20.0
1    24.0
2    99.0
3    57.0
4    56.0
5    13.0
6    16.0
7     NaN
8    61.0
9    21.0
dtype: float64

In [104]:
# 练习7
# 将两个数据框进行合并
pan6 = pd.DataFrame(np.random.randint(10,99,(5,4)),index=list("abced"),columns=["a"+str(i) for i in range(4)])
pan7 = pd.DataFrame(np.random.randint(10,99,(5,2)),index=list("abced"),columns=["A","B"])
print(pan6)
print("------------------------")
print(pan7)

   a0  a1  a2  a3
a  29  36  68  58
b  85  35  94  56
c  20  75  44  83
e  11  39  34  71
d  18  38  66  77
------------------------
    A   B
a  45  46
b  61  31
c  51  22
e  94  14
d  48  31

In [112]:
# 进行合并
# 数据合并，列索引进行合并
res = pd.DataFrame(np.column_stack((pan6,pan7)),columns=(["a0","a1","a2","a3"]+["A","B"]))
res

   a0  a1  a2  a3   A   B
0  29  36  68  58  45  46
1  85  35  94  56  61  31
2  20  75  44  83  51  22
3  11  39  34  71  94  14
4  18  38  66  77  48  31

In [114]:
# 重新排列索引位置
# 调换列的位置
res.reindex(columns = ["a0","a1"]+["A","B"]+["a2","a3"])

   a0  a1   A   B  a2  a3
0  29  36  45  46  68  58
1  85  35  61  31  94  56
2  20  75  51  22  44  83
3  11  39  94  14  34  71
4  18  38  48  31  66  77

In [ ]:
"""
期望值：在概率论和统计学中，期望值（或数学期望、或均值，亦简称期望，物理学中称为期待值）是指在一个离散
性随机变量试验中每次可能结果的概率乘以其结果的总和.期望值是指人们对自己的行为和努力能否导致所企求之结
果的主观估计,即根据个体经验判断实现其目标可能性的大小；
E（C） = C；常数的期望等于期望本身。
E（CX） = CE（X）；
E（X + Y） = E（X） + E（Y）；也就是说和的期望等于期望的和。
一个随机变量的期望值等于另一个随机变量
无偏估计的意义是：在多次重复下，它们的平均数接近所估计的参数真值。无偏估计常被应用于测验分数统计中。
"""

In [ ]:
"""
期望值：
    在概率论和统计学中，数学期望（或均值，亦简称期望）是试验中每次可能结果的概率乘以其结果的总和，
是最基本的数学特征之一。它反映随机变量平均取值的大小。
"""

In [125]:
# 练习8
# 给定一个随机事件序列模型   Yt=u+Xt
# 其中对所有的t有E(Xt)=0，u为常量，假设Y1=u+X1,....Yn=u+Xn,是该模型观测时间序列，
# 那么Y'= (1/n)(Y1+...+Yn)是u的无偏估计，
# 先建立函数Y'
# y’表示函数y=f(x)的一阶导数

time_Y = lambda u:(u+np.random.normal(0,2.36,5000)).mean()

In [126]:
# 确定E(Y)
# 得出的结果与Y函数中的u值很接近
E_Y = np.array([time_Y(10.72) for i in range(15000)]).mean()
E_Y

10.720284107382085