# 层次化索引数据框

In [25]:
import numpy as np
import pandas as pd

"""
columms控制列的索引
index控制行的索引
"""
arr = pd.DataFrame(np.random.randint(3,65,(6,4)),
              index = [["morning","morning","morning","afternoon","afternoon","afternoon"],
                       ["r"+str(i) for i in range(6)]],
              columns = [["A","A","B","B"],["a","b","c","d"]])

arr

               A       B
               a   b   c   d
morning   r0  38  44  12  17
          r1  43  47  31  42
          r2  17  62  16  29
afternoon r3  10   3  20   7
          r4  33  13  49  37
          r5  62  29   3  51

In [26]:
#获取morning行的数据
#获取行索引的时候需要添加.loc
arr.loc["morning"]

     A       B
     a   b   c   d
r0  38  44  12  17
r1  43  47  31  42
r2  17  62  16  29

In [27]:
# 获取A列索引的数据
# 获取列索引数据不需要添加.loc

arr["A"]

               a   b
morning   r0  38  44
          r1  43  47
          r2  17  62
afternoon r3  10   3
          r4  33  13
          r5  62  29

In [49]:
# 获取具体某一行的所有列

arr["A"].loc[[("morning","r0"),("morning","r2"),("afternoon","r5")],:]

               a   b
morning   r0  38  44
          r2  17  62
afternoon r5  62  29

In [28]:
# 选中具体a列的数据

arr["A"]["a"]

morning    r0    38
           r1    43
           r2    17
afternoon  r3    10
           r4    33
           r5    62
Name: a, dtype: int32

In [29]:
# 选取列与行的数据框

# arr["A"].loc["morning"]
arr.loc["morning"]["A"]

     a   b
r0  38  44
r1  43  47
r2  17  62

In [36]:
# 选取具体的某一区域的数据框

arr.loc["morning"]["A"].loc["r0":"r2"]

     a   b
r0  38  44
r1  43  47
r2  17  62

In [50]:
arr

               A       B
               a   b   c   d
morning   r0  38  44  12  17
          r1  43  47  31  42
          r2  17  62  16  29
afternoon r3  10   3  20   7
          r4  33  13  49  37
          r5  62  29   3  51

In [71]:
#获取morning大行，bcd列的数据
#       获取morning大行中的r2和r3小行                   获取A和B中的小b，c，d列
#   -------------------------------------------   ===================================
arr.loc[[("morning","r2"),("afternoon","r3")],:].loc[:,[("A","b"),("B","c"),("B","d")]]

               A   B
               b   c   d
morning   r2  62  16  29
afternoon r3   3  20   7

In [75]:
# 具体取到某一个值(第一行第一列的值)

arr["A"]["a"].loc["morning"]["r0"]

38